.app-container {
  background: url("https://media.istockphoto.com/id/1165053717/photo/science-and-medicine-scientist-analyzing-and-dropping-a-sample-into-a-glassware-experiments.jpg?b=1&s=170667a&w=0&k=20&c=qG9ASL3IWMOI-jkG3mh6lUegauM-CEyF6OhFgot5aIk=") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-repeat:no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}
